@{
  Layout = "_Layout";
}

@model CandyShop.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Book Title: @Html.DisplayFor(model => model.Name)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat has not been assigned </p>
}
else
{
  <h4>This treat the following flavors:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Flavor.Name</li>
    @* @using (Html.BeginForm("DeleteCategory", "Items")) *@
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Assign Flavor"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Treat list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new {id= Model.TreatId})</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id =Model.TreatId })</p>