@{
  Layout = "_Layout";
}

@model CandyShop.Models.Flavor;

<h1>Edit Flavor </h1>
<hr>
<h5>
@Html.DisplayFor(model => model.Name)
</h5>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  <h2>Name:</h2>
  @Html.EditorFor(model => model.Name)
  <br>
  @Html.Label("Assign treat")
  @Html.DropDownList("TreatId")
  <br>
  <input class="btn" type="submit" value="Save Changes" required/>
}
<p class="my-3">@Html.ActionLink("Flavor List", "Index")</p>