@{
  Layout = "_Layout";
}

<h1>Bakery Login</h1>
<p>@Html.ActionLink("Create Treat","Create","Treat")</p>
<p>@Html.ActionLink("Create Flavor","Create","Flavor")</p>
<p>@Html.ActionLink("See all Flavors and Treats", "Index", "TreatFlavor")</p>
<p>@Html.ActionLink("Login to your account", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>